!!!
%html
  %head
    %script{ :src => "jquery-1.4.2.min.js" }
    %script{ :src => "webtoolkit.md5.js" }
    %script{ :src => "jquery-ui-1.8.13.custom.min.js" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "styles.css" }

  %body
    %h1#title

    #holes

    #score
    #info

    %form#guess{:action => "#", :method => "get"}
      %input#guess_text{ :autocapitalize => "off", :autocorrect => "off", :autocomplete => "off" }

    #fails

    #party-time{:style => "display: none"}
      HAVE A PARTY BECAUSE YOU WON!
      %button
        Next Puzzle

%script{ :src => "game.js" }
